/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    font-size: 16px;
}

header {
    padding: 1rem 0 1rem 1rem;
    background-color: #fff;
}

.hide {
    display: none;
}

header button {
    display: inline;
    margin-right: auto;
    margin-left: 0;
    border: none;
    background-color: #fff;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0 0 1rem 0;
}

nav ul li {
    text-align: center;
    padding: 0 2%;
}

nav ul li a {
    text-decoration: none;
    color: #171717;
    font-family: Sniglet;
}

nav ul li a:hover {
    border-bottom: 2px dotted #171717;
}

.intro {margin-bottom: 1px;}

.job-title {
    font-family: Knewave;
    font-weight: 400;
    margin-top: 1px;
}

.intro {
    font-family: Sniglet;
    font-size: 1.5rem;
}

/*button*/
.contact-me {
    border: 2px solid #171717;
    font-family: Sniglet;
    background-color: #171717;
    color: #fff;
    padding: 15px;
    border-radius: 15px;
}

.contact-me:hover {
    background-color: #fff;
    color: #171717;
    cursor: pointer;
}

.hero-section {
    background-image: url(../images/hero-cover-sml.jpg);
    width: 100%;
    height: 100vh;
    padding: 1rem;
}

.profile-photo {
    margin-right: 1rem;
}

.profile-photo img {
    box-shadow: 10px 10px #171717;
    width: 170px;
    height: auto;
}

.social img {
    width: 64px;
    color: #fff;
}

/* Medium */

@media only screen and (min-width: 35rem) {

    header {
        display: flex;
        justify-content: space-between;
    }

    nav {
        margin-top: 55px;
        margin-bottom: 0;
        display: flex;
    }

    nav ul {
        margin-bottom: 0;
    }

    nav ul li {
        display: inline-block;
        padding: 0 15px;
    }

    header button {
        display: none;
    }

    header.fixed {
        position: fixed;
        width: 100%;
        opacity: 0.96;
        box-shadow: 2px 0 6px #171717;
        transform: translateY(-60px);
        top: 58px;
        transition: transform 300ms ease;
        transition-delay: 0s;
    }

    .hero-section {
        background-image: url(../images/hero-cover-med.jpg);
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .hide {
        display: block;
    }

    .profile-photo img {
        width: 200px;
        height: auto;
    }

}

/* Large */

@media only screen and (min-width: 56rem) {
    .hero-section {
        background-image: url(../images/hero-cover-lrg.jpg);
    }

    .profile-photo img {
        width: 500px;
        height: auto;
    }
}