/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    font-size: 16px;
}

header {
    padding: 1rem;
    background-color: #fff;
    margin-bottom: 0;
}

.hide {
    display: none;
}

header button {
    display: inline;
    border: none;
    background-color: #fff;
    font-size: x-large;
    float: right;
    margin: 2rem 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    text-align: center;
    padding: .8rem;
}

nav ul li a {
    text-decoration: none;
    color: #171717;
    font-family: Sniglet;
}

nav ul li a:hover {
    border-bottom: 2px dotted #171717;
}

div#home {
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.intro {margin-bottom: 1px;}

.job-title {
    font-family: Knewave;
    font-weight: 400;
    margin-top: 1px;
}

.intro {
    font-family: Sniglet;
    font-size: 1.5rem;
}

/*button*/
.contact-me {
    text-decoration: none;
    border: 2px solid #171717;
    font-family: Sniglet, Arial, Helvetica, sans-serif;
    background-color: #171717;
    color: #fff;
    padding: 15px;
    border-radius: 999px;
    display: inline-block;
}

.contact-me:hover {
    background-color: #fff;
    color: #171717;
    cursor: pointer;
}

.hero-section {
    background-image: url(../images/hero-cover-sml.jpg);
    width: 100%;
    height: 100vh;
    padding: 1rem;
}

.profile-photo {
    margin-right: 1rem;
}

.profile-photo img {
    box-shadow: 10px 10px #171717;
    width: 170px;
    height: auto;
}

div.call-to-action {
    text-align: center;
}

main section, main div {
    margin-bottom: 5rem;
}

main section {
    width: 100%;
    padding: 1rem;
}

main section#about {
    background-color: #888;
    color: #fff;
}

main section#about div img {
    width: 100%;
}

main section h2, h3 {
    font-family: Sniglet, Helvetica, sans-serif;
}

main section p {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
}

.blog-container {
    display: flex;
    flex-wrap: wrap;
}

.blog-container div {
    width: 300px;
    margin-right: 3rem;
}

.blog-container div a {
    text-decoration: none;
    color: #171717;
}

.blog-container div a h3, .blog-container div a p {
    padding: .8rem;
    margin: 0;
}

.blog-container div:hover {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 1px 4px 1px #888;
}

.blogimg {
    width: 100%;
}

#contact {
    background-color: #888;
    color: #fff;
    font-family: 'Noto Sans JP', sans-serif;
}

#contact .form label {
    display: block;
    margin-left: .8rem;
}

#contact .form input {
    display: block;
    margin-top: .2rem;
    margin-bottom: .8rem;
    width: 100%;
    max-width: 500px;
    padding: .3rem;
}

textarea {
    display: block;
    padding: .3rem;
    max-width: 500px;
    min-width: 300px;
    margin-top: .5rem;
    min-height: 300px;
}

#contact form input.btn {
    width: 100%;
    max-width: 240px;
    margin: .8rem;
    border: 2px solid #171717;
    font-family: Sniglet, Arial, Helvetica, sans-serif;
    background-color: #171717;
    color: #fff;
    padding: 15px;
    border-radius: 999px;    
}

#contact form input.btn:hover {
    background-color: #fff;
    color: #171717;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 1.5px groove hsla(0, 1%, 27%, 0.377);
    color: hsl(0, 1%, 43%);
    font-family: Sniglet, Helvetica, sans-serif;
}

.social a img {
    width: 64px;
    color: #fff;
}

.social a img:hover {
    transform: translateY(-10px);
    transition: transform 250ms linear 0s;

}

/* Medium */

@media only screen and (min-width: 35rem) {

    header {
        display: flex;
        justify-content: space-between;
    }

    nav {
        margin-top: 55px;
        margin-bottom: 0;
        display: flex;
    }

    nav ul {
        margin-bottom: 0;
    }

    nav ul li {
        display: inline-block;
        padding: 0 15px;
    }

    header button {
        display: none;
    }

    header.fixed {
        position: fixed;
        width: 100%;
        opacity: 0.96;
        box-shadow: 2px 0 6px #171717;
        transform: translateY(-60px);
        top: 58px;
        transition: transform 300ms ease;
        transition-delay: 0s;
    }

    .hero-section {
        background-image: url(../images/hero-cover-med.jpg);
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    div.call-to-action {
        text-align: start;
    }

    .hide {
        display: block;
    }

    .profile-photo img {
        width: 200px;
        height: auto;
    }

    main section#about div {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-column-gap: 10px;
    }
    

    main section#about div img {
        grid-column: 3/4;
        grid-row: 1/3;
    }
    
    main section p {
        grid-column: 1/3;
    }

    textarea {
        max-width: 680px;
        min-width: 680px;
    }

}

/* Large */

@media only screen and (min-width: 56rem) {
    .hero-section {
        background-image: url(../images/hero-cover-lrg.jpg);
    }

    .profile-photo img {
        width: 500px;
        height: auto;
    }

    main section {
        max-width: 70rem;
        margin-left: auto;
        margin-right: auto;
    }
}