@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Mukta:wght@300&display=swap');

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*------------- Header Rules ------------------*/

body {
    font-size: 16px;
}

nav {
    background-color: #687980;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: #fff;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
    font-family: 'Mukta', sans-serif;
}


nav ul li a:hover {
    background-color: #d3eaef;
    color: #333;
}
nav ul li.active a {
    background-color: #eaffd0;
    color: #1c6fae;
}

header {
    background-color:  #90d1ea;
}

header h1, header h2 {
    color: #1c6fae;
    text-align: center;
    margin: 0;
}

header h1 {
    padding-top: 1rem;
    font-family: 'Arvo', serif;
}
header h2 {
    padding-bottom: 1rem;
    font-family: 'Mukta', sans-serif;
    font-weight: 700;
}

/*-------------- Main Rules ----------------*/

main {
    background-color: #fff;
    margin:0;
    padding: 1rem;
    font-family: 'Mukta', sans-serif;
}

main h2 {font-weight: 600;}
main p {font-weight: 300;}

.color {width: 75%;}

/*-------------- Footer Rules ----------------*/

footer {
    color: #fff;
    background-color: #687980;
    text-align: center;
    padding: 1rem;
    font-family: 'Mukta', sans-serif;
}