@media only screen and (min-width: 35rem) {


    /*----------- BODY --------------*/
    
    
    
    /*----------- HEADER --------------*/
        .logo {width: 85px}
        #headerWrapper div h1 {font-size: 2rem;}
        #headerWrapper div h2 {font-size: 1.6rem;}
    
    
    /*----------- NAVIGATION --------------*/
        #navWrapper nav button {display: none;}
        #navWrapper nav ul {margin-left: 2%;}
        #navWrapper nav ul li {float: left;}
    
        #navWrapper nav ul li a{padding: .5rem 2rem; text-align: center;}
        #navWrapper nav ul li:first-child {border-top: none;}
        .hide {display: block;}
    
    /*----------- MAIN --------------*/
        main h2 {
            margin-top: 1rem;
        }
    
    
    /*----------- FOOTER --------------*/
        
    } /* end of media query */