/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-size: 16px;
    background-color: #EDEDED;
    font-family: 'Nunito Sans', sans-serif;
}

.alerts {
    position: relative;
    color: #F1F6F9;
    background-color: #ff0f0f;
    font-family: 'Nunito Sans', sans-serif;
}

.alerts div {padding: 1rem;}

.alerts div button {
    position: absolute;
    top: 1px;
    right: 1px;
    background-color: #ff0f0f;
    color: #F1F6F9;
    border: 3px solid #F1F6F9;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.alerts div button:hover {
    background-color: #F1F6F9;
    color: #ff0f0f;
    border-color: #ff0f0f;
}

.hide {display: none;}

/** Header Rules **/
#header {
    background-color: #0A1D37;
    color: #F4CCA4;
    font-family: Castoro, serif;
    font-size: 2rem;
    padding: 0 .8rem .8rem 0;
}

#header header {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 0 .8rem .8rem .8rem;
    height: auto;
    margin-bottom: 1rem;
}

.logo {
    margin-right: .8rem;
    width: 75px;
}

#header header p, #header header a {
    margin-top: 0 .8rem 0 0;
}

#header button {
    background-color: #0A1D37;
    color: #F1F6F9;
    border: 1px solid #F1F6F9;
    margin-right: .8rem;
    margin-left: auto;
    border-radius: 3px;
}

/** Navigation Rules **/
#nav{
    color: #F1F6F9;
    margin-top: -3.2rem;
}

nav {
    background-color: #0A1D37;
}

#nav nav ul {
    text-align: center;
    list-style-type: none;
}

#nav nav ul li a {
    text-decoration: none;
    color: #F1F6F9;
    display: block;
    font-family: 'Nunito Sans', sans-serif;
    padding: .3rem;
}

#nav nav ul li.active a {
    color: #F4CCA4;
}

#nav nav ul li a:hover {
    text-decoration: underline;
}

/** Hero Rules **/

.hero {
    position: relative;
    padding: 0;
}

.hero picture img {
    width: 100%;
}

.hero .hero-intro {
    position: absolute;
    top: .8rem;
    left: .8rem;
}

.hero .hero-intro p {
    margin: 0 .8rem .8rem 0;
    background-color: #F1F6F9;
    color: hsl(258, 60%, 8%);
    opacity: .8;
    padding: .8rem;
}

.hero .hero-intro a {
    display: block;
    text-decoration: none;
    background-color: #1B262C;
    color: #F1F6F9;
    padding: .8rem 1.5rem;
    border-radius: 8px;
    margin-top: 1rem;
    width: 8ch;
    text-align: center;
    font-weight: 600;
}

.hero .hero-intro a:hover {
    background-color: #F1F6F9;
    border: 2px solid #1B262C;
    color: #1B262C;
}

.main-content h2 {
    background-color: #0A1D37;
    color: #F1F6F9;
    padding: .8rem;
    margin: .8rem .8rem 0 .8rem;
}

div.hero-banner {margin-top: 0; margin-bottom: .8rem;}

.hero-banner picture img {width: 100%;}
.hero-banner picture figcaption {
    color: #F1F6F9;
    margin-top: -30px;
    margin-left: .8rem;
    text-shadow: 2px 1px #1B262C;
}

/** Main Rules **/
main {
    color: #1B262C;
    font-family: 'Open Sans', sans-serif;
    margin: 4rem .8rem;
}

.dagupan {background-color: #0A1D37; color: #F1F6F9; padding: .8rem; margin-bottom: 0;}

 h1, h2, h3 {
    font-family: Merriweather, serif;
}

.main-content {
    max-width: 75rem;
    margin: .8rem auto;
}

.main-content .hero-banner {
    margin: 0 .8rem;
}

article {margin: .8rem;}

article h3 {
    margin: 3rem 0 .5rem 0;
}

.kalutan {margin: 0 auto .8rem auto; width:280px; max-width: 280px;}
.gilon {margin-bottom: .8rem;}

article p {margin-top: 0;}

.ads {
    display: grid;
}

.ad {
    background-color: #0A1D37;
    color: #F1F6F9;
    margin: .8rem 0;
}

.ad img {
    width: 100%;
    height: inherit;
}

.ad p {
    padding-left: .8rem;
}

.weather-section {
    position: relative;
}
.weather-section img {
    width: 100%;
}

.weather {
    position: absolute;
    top: .8rem;
    left: .8rem;
    background-color: #EDEDED;
    padding: 1rem;
    opacity: .8;
}

.forecast-section, .events {
    text-align: center;
}

.forecast {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weathercard {
    border: 3px groove #0A1D37;
    margin: .5rem;
    padding: .3rem .8rem;
}

h4.forecastheader {
    margin-top: 0;
}

/** Form Rules **/

div.membership-form {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

div.form, div.membership {
    background-color: #F1F6F9;
    padding: .8rem;
    border-radius: 15px;
    box-shadow: 3px 5px 15px #d1d1d1;
    width: 100%;
    max-width: 30rem;
    margin-bottom: 5rem;
}

div.membership div {
    margin: .8rem;
    border: 3px groove #0A1D37;
}

div.membership div.gold {
    background-color: #0A1D37;
    color: #F4CCA4;
}

div.membership div ul {list-style-type: circle ;}

div.membership div h4 {text-align: center;}

form label.fill, form label.fill input, div.membersip-level, textarea {display: block;}

input, textarea {margin-bottom: .8rem; color: #0A1D37;}

label.fill input, textarea {
    width: 85%;
    max-width: 28rem;
    padding: .5rem;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    max-height: 20rem;
}

form label.choose {display: block;}

.form h2 {text-align: center; margin-bottom: 1rem;}

form .btn {
    border: none;
    padding: .8rem;
    background-color: #0A1D37;
    color: #F1F6F9;
    border-radius: 5px;
    width: 180px;
    margin-top: .8rem;
}

form .btn:hover {
    background-color: #F1F6F9;
    color: #0A1D37;
    border: 1px solid #0A1D37;
}

/** Directory Rules **/
.displaybtn img {
    width: 40px;
}

#directory {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.displaybtn {border: 1px solid #0A1D37; margin-right: .5rem; padding: .5rem;}
.displaybtn:hover {border-radius: 5px; cursor: pointer; background-color: #F4CCA4;}

.companycard {
    background-color: #F1F6F9;
    border: 2px solid #0A1D37;
    border-radius: 5px;
    padding: .8rem;
    width: 410px;
    margin: .8rem 0;
}

/** Contact Rules **/

main > section, main > div, main > article {margin-bottom: 5rem;}

iframe {
    width: 60%;
    height: 300px;
}

#board {
    border: 2px groove #0A1D37;
    padding: .8rem;
}
.board {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.board div {margin: .8rem;}

.board div img {
    display: block;
    width: 200px;
}

.contact-form {
    background-color: #F1F6F9;
    padding: .8rem;
    border-radius: 15px;
    box-shadow: 3px 5px 15px #d1d1d1;
}

.contact-form form {
    margin: .8rem 0 2.5rem 0;
}

.contact-form label, .contact-form input {
    display: block;
}

.contact-form input, .contact-form label textarea {
    padding: .5rem;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
}

.contact-form label textarea {
    max-height: 300px;
    height: 300px;
    min-width: 300px;
}

.contact-form .btn {
    max-width: 250px;
}

/** Welcome Page Rules **/
.welcome {
    background-color: #0A1D37;
    color: #F1F6F9;
    padding: 2rem;
    font-size: large;
    text-align: center;
}

/** Footer Rules **/
#footer {
    background-color: #0A1D37;
    color: #F1F6F9;
    font-family: 'Nunito Sans', sans-serif;
    padding: .8rem;
}

#footer footer div.socialmedia {
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer footer div.socialmedia img {
    margin-right: .5rem;
    width: 40px;
}

.attributions a {
    color: #F1F6F9;
}

.attributions a:hover {
    color: #F4CCA4;
}


/** Meduim Screen **/
@media only screen and (min-width: 35rem) {
    /** Header Rules **/
    #header button {display: none;}

    /** Navigation Rules **/
    #nav nav ul {margin-left: 2%;}
    #nav nav ul li {float: left;}
    #nav nav ul li a{padding: .5rem 1rem;}

    .hide {display: block;}

    /** Main Rules **/

    .ads {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: .8rem;
    }

    .forecast-events {
        display: flex;
        justify-content: space-evenly;
        
    }

    .kalutan {float: right; margin-left: .8rem; width: 500px; max-width: none;}

    .gilon {
        width: 300px;
        height: auto;
        float: left;
        margin: .5rem .8rem 0 0;
    }

}


/** Large Sreen **/
@media only screen and (min-width: 56rem) {
    /** Navigation Rules **/
    #nav {
        float: right;
        width: 500px;
        margin-top: -4rem;
    }

    /** Main Rules**/

    main {
        max-width: 70rem;
        margin: 2% auto;
    }

}